.pageContent {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
}

.addLeaveType-form {
  margin: 0 auto;
  display: block;
  width: 33vw;
  height: fit-content;
  padding: 2em 2em 1em;
  background-color: rgb(255,255,255);
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  border-radius: 2em;
  transition: height 2s;
}

.addLeaveType-element {
  width: 100%;
}

a {
  color: rgb(44,62,80);
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(44,62,80);
}

.messageVisible{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em 0 0;
  padding: 0.5em 0.6em;

  background-color: rgb(44,62,80);
  color: white;
  border-radius: 2em;

  visibility: visible;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.6s, transform 0.5s linear;
}

.messageHidden{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em 0 0;
  padding: 0.5em 0.6em;

  background-color: rgb(44,62,80);
  color: white;
  border-radius: 2em;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: visibility 0s 1s, opacity 1s, transform 1s linear;
}

.messageText{
  width: 100%;
  padding: 0 2em;
}

mat-icon{
  color: white;
}

.buttonGroup{
  padding: 2em 0 1em;
  float: left;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
}

button {
  width: 33%;
  background: rgb(52,73,94);
  color: white;
  font-weight: bold;
  border-radius: 2em;
  margin: 0 0.6em;
  padding: 0.5em 0;
}

button:hover{
  background: rgb(44,62,80);
}

.deleteBtn{
  margin: 0 0 0 0.6em;
  background: rgb(231,76,60) !important;
}

.deleteBtn:hover{
  background: rgb(221,66,50) !important;
}

.submitBtn{
  margin: 0 0.6em 0 0;
}

.submitBtn[disabled]{
  background: rgb(210, 210, 210) !important;
}
