<div class="page">
  <app-navigation></app-navigation>

  <div *ngIf="!editingUser" class="pageContent">
    <div class="userProfileCard">
      <div class="title">
        <h1>User profile</h1>
      </div>
      <div class="userProfileInfo">
        <div class="mainUserInfo">
          <img src="../../../assets/images/userIcon_dark.png">
          <h2><strong>{{user?.firstName}} {{user?.lastName}}</strong></h2>
          <h3>{{user?.jobDescription}}</h3>
        </div>
        <div class="otherUserInfo">
          <h3><strong>Email: </strong> {{user?.email}}</h3>
          <h3><strong>Phone number: </strong>{{user?.phone}}</h3>
        </div>
        <div class="userRoles">
          <h3>
            <strong>Supervisor: </strong>
            <span *ngIf="userSupervisor; else noSupervisor">
              {{userSupervisor?.firstName}} {{userSupervisor?.lastName}}
            </span>
            <ng-template #noSupervisor>
              none
            </ng-template>
          </h3>
        </div>
      </div>
    </div>
    <div class="admin-options" *ngIf="userInfoService?.hasAdminPrivileges">
      <button mat-menu-item (click)="openEditUser()">Edit</button>
      <button mat-menu-item class="deleteBtn" (click)="openDialogDeleteUser(user)" disabled="{{deleteBtnDisabled}}">Delete</button>
    </div>
  </div>

  <app-update-user *ngIf="editingUser" class="pageContent" (userUpdatedEvent)="receiveMessage($event)" [user]="user"></app-update-user>

</div>



