.pageContent {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
}

.userProfileCard {
  margin: 2em 2em 0;
  padding: 2em 0;
  background-color: rgb(255,255,255);
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  width: fit-content;
  border-radius: 2em;
}

.userProfileInfo {
  padding: 2em;
}

.title{
  background-color: rgb(44,62,80);
  color: rgb(255,255,255);
  padding: 0.4em 2em;
}

.title h1{
  color: rgb(255,255,255);
}

.mainUserInfo{
  text-align: center;
}

.mainUserInfo img{
  display:block;
  margin:auto;
}

img{
  width: 12em;
}

.otherUserInfo{
  padding: 2em 2em 1em;
}

.userRoles{
  padding: 1em 2em;
}

.admin-options{
  padding: 1.4em 2em;
  float: left;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.deleteBtn{
  background: rgb(231,76,60) !important;
}

.deleteBtn:hover{
  background: rgb(221,66,50) !important;
}

.deleteBtn[disabled]{
  background: rgb(210, 210, 210) !important;
}

button{
  width: fit-content!important;
  padding: 0 3em!important;
  margin: 0 0.4em!important;
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
}

button:hover{
  background: rgb(44,62,80);
}

a {
  color: rgb(44,62,80);
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(44,62,80);
  margin: 0;
}
