.pageContent {
  justify-content: center;
  align-items: center;
  flex:1;
  display:flex;
  flex-direction:column;
  background-color: rgb(245,245,245);
}

.dashboard{
  margin: 2em;
  display: block;
  width: 50vw;
  min-width: 40em;
  padding: 2em;
  height: fit-content;
  background-color: rgb(255,255,255);
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  border-radius: 2em;
}

.calendar {
  width: 100%;
  padding: 1.8em 0 0;
}

.approvals{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(44,62,80);
}

.title{
  margin: 0 0 1em;
}
