<header>
  <nav>
    <img src="../../assets/images/logo_dark.png" class="logo" routerLink="">
    <mat-menu #appMenu="matMenu" xPosition="before">
      <div class="userInfo">
        <img src="../../assets/images/userIcon_light.png" class="userImg">
        <h3>{{userService.currentUser?.firstName}} {{userService.currentUser?.lastName}}</h3>
        <h5>{{userService.currentUser?.email}}</h5>
      </div>
      <div class="adminOptions"  *ngIf="userService.hasAdminPrivileges">
        <button mat-menu-item routerLink="/admin/userList">Users</button>
        <button mat-menu-item routerLink="/admin/leaveTypes">Leave types</button>
      </div>
      <button mat-menu-item (click)="openUserProfile()">User profile</button>
      <button mat-menu-item routerLink="/changePassword">Change password</button>
      <button mat-menu-item routerLink="/login" *ngIf="userService.isLoggedIn" (click)="logOut()">Logout</button>
    </mat-menu>
    <ul>
      <li>{{userService.currentUser?.firstName}} {{userService.currentUser?.lastName}}</li>
      <img [matMenuTriggerFor]="appMenu" src="../../assets/images/userIcon_light.png" class="logo">
    </ul>
  </nav>
</header>
