<header>
  <nav>
    <img src="../../assets/images/logo_dark.png" class="logo" routerLink="">
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/admin/addUser" *ngIf="userService.hasAdminPrivileges">Add user</button>
      <button mat-menu-item routerLink="/userProfile">User profile</button>
      <button mat-menu-item routerLink="/login" *ngIf="userService.isLoggedIn" (click)="logOut()">Logout</button>
    </mat-menu>
    <ul>
      <li>{{userService.currentUser?.firstName}} {{userService.currentUser?.lastName}}</li>
      <img [matMenuTriggerFor]="appMenu" src="../../assets/images/userIcon_light.png" class="logo">
    </ul>
  </nav>
</header>
