@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

header {
  background: rgb(44,62,80);
  padding: 0.8em 1em 0.8em 0;
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  overflow: hidden;
}

header a {
  color: white;
  text-decoration: none;
}

.logo{
  height: 4em;
  margin-left: 1em;
  cursor: pointer;
  outline: none;
}

.userImg{
  height: 5em;
  display: block;
  margin: 0 auto 0.5em;
}

.userInfo{
  margin: 1em 3em 2em;
  text-align: center;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  list-style-type: none;

  overflow: hidden;
  height: 100%;

  float: right;
}

li {
  height: 4em;
  margin: 0 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

.name {
  font-size: 1.5em;
}

li a {
  text-align: center;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: white;
  margin: 0;
}

h3{
  font-weight: bold;
}

.marginLeft{
  margin-left: 2.5em;
}

.biggerSize{
  font-size: 1.2em;
}

nav {
  height: 4em
}

.adminPanelTitle{
  margin: 0.8em 4em 1em 1em;
  text-align: left;
}
