@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

header {
  background: rgb(44,62,80);
  padding: 1em 0;
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
}

header a {
  color: white;
  text-decoration: none;
}

.logo{
  height: 100%;
  float: left;
}

nav {
  height: 3em;
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  list-style-type: none;

  overflow: hidden;
  height: 100%;

  float: right;
}

li {
  margin: 0 1em;
  color: white;
  font-weight: bold;
}

li a {
  text-align: center;
  text-decoration: none;
}
