form {
  min-height:500px;
}

.container {
  display: flex;
  top:50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.mat-input-wrapper {
  min-width: 300px;
}
