div {
  height: 100%
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.mat-input-wrapper {
  min-width: 300px;
}

img {
  max-height:30%;
  max-width:30%;
}

:host {
  height: 100%
}
