<div class="login-form">
  <img class="logo" src="../../assets/logo.png">
  <form [formGroup]="form" (submit)="loginUser($event)">
    <mat-form-field class="login-element">
      <input matInput
             formControlName="email"
             placeholder="Email"
             id="email">
      <mat-error *ngIf="form.hasError('email', ['email'])">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.hasError('required', ['email'])">
        Email is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             type="password"
             formControlName="password"
             placeholder="Password"
             id="password" />
      <mat-error *ngIf="form.hasError('required', ['password'])">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <button mat-raised-button type="submit" class="submitBtn">Login</button>

    <div class="form-footer">
      <a href="#">Forgot password?</a>
    </div>

  </form>
</div>
