.resetPassword-form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20vw;
}

.resetPassword-element {
  width: 100%;
}

button {
  width: 100%;
  background: rgb(52,73,94);
  color: white;
  font-weight: bold;
  border-radius: 2em;
}

.submitBtn{
  margin: 1em 0;
}

.backBtn{
  margin: 0;
}

button:hover{
  background: rgb(44,62,80);
}


a {
  color: rgb(44,62,80);
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(44,62,80);
}
