/* Custom, iPhone Retina, Extra Small Devices, Phones */
@media only screen and (min-width : 320px)  {
  .resetPassword-form {
    max-width: 30em;
    width: 100%;
    padding: 0 4em;
  }
}

/* Small Devices, Tablets, Medium Devices, Desktops, Large Devices, Wide Screens*/
@media only screen and (min-width : 768px) {
  .resetPassword-form {
    width: 30em;
  }
}

.resetPassword-form {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  user-select: none;
}

.resetPassword-element {
  width: 100%;
}

.buttonGroup{
  width: 100%;
  display: inline-flex;
  margin: 0.2em 0;
  float: left;
}

button {
  box-sizing: border-box;
  width: 50%;
  padding: 0.2em 0;
  float: left;
  border-radius: 2em;
  background: rgb(52,73,94);
  color: white;
  font-weight: bold;
}

button:hover{
  background: rgb(44,62,80);
}

#submitBtn{
  margin-right: 0.4em;
}

#backBtn{
  margin-left: 0.4em;
}

.fullWidthBtn{
  width: 100%;
}

a {
  color: rgb(44,62,80);
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(44,62,80);
}

