<div class="resetPassword-form">
  <ng-template
    *ngIf="isPasswordReset; then passwordMessage; else passwordForm">
  </ng-template>

  <ng-template #passwordForm>
    <h2>Reset password</h2>
    <h5>Forgot your password? No worries. Just enter the email you used to sign up and we'll send you a new one.</h5>
    <form [formGroup]="form" (submit)="resetPassword($event)">
      <mat-form-field class="resetPassword-element">
        <input matInput
               placeholder="Email"
               id="email" formControlName="email">
        <mat-error *ngIf="form.hasError('required', ['email'])">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.hasError('email', ['email'])">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <div class="buttonGroup">
        <button disabled="{{buttonDisabled}}" mat-raised-button type="submit" id="submitBtn" class="submitBtn">Confirm</button>
        <button mat-raised-button id="backBtn" type="button" (click)="goBack()" class="backBtn">Back</button>
      </div>

    </form>
  </ng-template>

  <ng-template #passwordMessage>
    <h2>Password reset!</h2>
    <h5>Your password has been reset successfully. Please check your email account.</h5>
    <button mat-raised-button type="button" class="fullWidthBtn" (click)="goBack()">Back</button>
  </ng-template>


</div>
