<app-navigation></app-navigation>
<app-error></app-error>
<div class="pageContent">
  <div class="addLeaveRequest-form">
    <h2 class="title">Add leave request</h2>
    <form (submit)="createLeaveRequest($event)">

      <mat-vertical-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="leaveTypesSelectControl">
            <ng-template matStepLabel>Choose leave type</ng-template>
            <mat-form-field class="addLeaveReques-element">
              <mat-label>Leave type</mat-label>
              <mat-select [formControl]="leaveTypesSelectControl" id="leaveTypes">
                <mat-option *ngFor="let leaveType of leaveTypeList" [value]="{id: leaveType.id, name: leaveType.name}">
                  {{leaveType.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="leaveTypesSelectControl.hasError('required')">
                Leave type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </mat-step>

        <mat-step [stepControl]="dateRangeControl">
            <ng-template matStepLabel>Pick date range</ng-template>
            <div class="calendarContainer">
              <h4 class="calendarTitle"><strong>Calendar</strong></h4>
              <sat-calendar [rangeMode]="true"
                            (dateRangesChange)="dateRangeChange($event)">
              </sat-calendar>
            </div>
            <input [formControl]="dateRangeControl" class="hidedInput"> <!--invisible input for not working satcalendar formControl -->
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>Check your leave request</ng-template>
          <div class="leaveTypeConfirmation">
            <h4><strong>Leave request:</strong></h4>
            <h5 class="noMargin"><strong> {{leaveTypesSelectControl.value.name}}</strong></h5>
            <span class="dateRange">
                    <h6><strong>{{ dateRange?.begin | date }}
                      <mat-form-field class="select">
                        <mat-select id="fromHour" name="fromHour" [ngModel]="workdayStart" [formControl]="fromHourSelectControl">
                          <mat-option *ngFor="let hour of possibleHours" [value]="hour" >
                            <span *ngIf="hour > 9">{{hour}}:00</span>
                            <span *ngIf="hour <= 9">0{{hour}}:00</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span> - {{ dateRange?.end | date }} </span>

                      <mat-form-field class="select">
                        <mat-select id="toHour" name="toHour" [ngModel]="workdayStart+workdayLength-1" [formControl]="toHourSelectControl">
                          <mat-option *ngFor="let hour of possibleHours" [value]="hour">
                            <span *ngIf="hour > 9">{{hour}}:00</span>
                            <span *ngIf="hour <= 9">0{{hour}}:00</span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </strong></h6>
            </span>
          </div>
        </mat-step>
      </mat-vertical-stepper>


      <div class="text-danger text-center">
        {{errorMsg}}
      </div>


      <div class="buttonGroup">
        <button mat-raised-button type="submit" id="submitBtn" class="submitBtn" [disabled]="buttonDisabled">Confirm</button>
        <button mat-raised-button type="button" id="backBtn" routerLink="" class="backBtn">Back</button>
      </div>
    </form>

  </div>

  <div class="text-center">
    <h6 class="message" [className]="isRequestCreated ? 'messageVisible' : 'messageHidden'"> <mat-icon>check_circle_outline</mat-icon><span class="messageText">Leave request has been created successfully!</span></h6>
  </div>

</div>
