  <app-navigation></app-navigation>
  <div class="pageContent">
    <div class="changePassword-form">
      <ng-template
        *ngIf="isPasswordChanged; then passwordMessage; else passwordForm">
      </ng-template>

      <ng-template #passwordForm>
        <h2>Change password</h2>
        <form [formGroup]="form" (submit)="changePassword($event)">
          <mat-form-field class="changePassword-element">
            <input matInput
                   placeholder="Old password"
                   id="oldPassword" formControlName="oldPassword"
                   type="password">
            <mat-error *ngIf="form.hasError('required', ['oldPassword'])">
              Current password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="changePassword-element">
            <input matInput
                   placeholder="New password"
                   id="newPassword" formControlName="newPassword"
                   type="password">
            <mat-error *ngIf="form.hasError('required', ['newPassword'])">
              New password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="changePassword-element">
            <input matInput
                   placeholder="Confirm password"
                   id="confirmPassword" formControlName="confirmPassword"
                   type="password" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="form.hasError('misMatch')">
              Passwords do <strong>not match</strong>
            </mat-error>
            <mat-error *ngIf="form.hasError('required', ['confirmPassword'])">
              Verify password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="buttonGroup">
            <button disabled="{{buttonDisabled}}" mat-raised-button type="submit" id="submitBtn" >Confirm</button>
            <button mat-raised-button id="backButton" type="button" (click)="goBack()" >Back</button>
          </div>

        </form>
      </ng-template>

      <ng-template #passwordMessage>
        <h2 class="noMargin">Password changed!</h2>
        <h5>Your password has been changed successfully.</h5>
        <button mat-raised-button type="button" (click)="goBack()" class="backButton">Back</button>
      </ng-template>
    </div>
  </div>

