<app-navigation></app-navigation>
<app-error></app-error>

<div class="pageContent">
<div class="approvingPage">
<div class="grid-container" *ngIf="loaded; else spinner">
  <div class="grid-item item1">
    <div class="info">
      <h1 class="noMargin">{{user.firstName}} {{user.lastName}} ({{leaveType.name}}) </h1>
      <h3 class="noMargin">{{startDate | date: "mediumDate"}} - {{endDate | date: "mediumDate"}}</h3>
    </div>
  </div>
  <div class="grid-item item2 left">
      <h1>Final rating</h1>

      <div class="votes">
        <h2 class="label">Supervisor</h2>
        <ng-container [ngTemplateOutlet]="approverTemplate" [ngTemplateOutletContext]="{approver: supervisor}"></ng-container>

        <h2 class="label">Other approvers</h2>
        <div *ngFor="let approver of approvers">
          <ng-container [ngTemplateOutlet]="approverTemplate" [ngTemplateOutletContext]="{approver: approver}"></ng-container>
        </div>
      </div>

      <div *ngIf="leaveRequest.leaveRequest.status === PENDING; else alreadyResolvedTemplate">

        <div *ngIf="approvalsCache[loggedUser.id]?.approved === null; else alreadyVotedTemplate" class="voting-buttons">
          <button mat-button class="largeButton" (click)="approve(true)" type="button">Approve</button>
          <button mat-button class="largeButton negative" (click)="approve(false)" type="button">Reject</button>
        </div>

        <div *ngIf="loggedUser.id === user.supervisor" class="force-buttons">
          <button mat-button class="largeButton" (click)="forceApprove(true)" type="button">Force approve</button>
          <button mat-button class="largeButton negative" (click)="forceApprove(false)" type="button">Force reject</button>
        </div>
      </div>
  </div>

  <div class="grid-item item3 left">
    <h1>Commentary</h1>
    <div class="messages">
      <div class="message" [ngClass]="message.approver === loggedUser.id ? 'my-message' : 'other-message'" *ngFor="let message of leaveRequest.messages">
        <span class="message-sender">{{approversCache[message.approver].firstName}} {{approversCache[message.approver].lastName}}</span>
        <span class="message-time">{{message.timestamp | date: "medium"}}</span>
        <div class="message-text">{{message.message}}</div>
      </div>
      <div class="sendMessage">
        <mat-form-field class="message-input" [floatLabel]="'never'">
          <input matInput placeholder="Type your message here..." [(ngModel)]="typedMessage">
        </mat-form-field>
        <button mat-button class="smallButton" (click)="sendMessage()" type="button" [disabled]="sending || typedMessage === ''">SEND</button>
      </div>
    </div>
  </div>

  <div class="grid-item item4 left">
    <h1>Calendar</h1>
    <app-calendar [displayedUsers]="[user]"></app-calendar>
  </div>

</div>
</div>
</div>

<ng-template #alreadyVotedTemplate>
  <h2>You have already voted</h2>
</ng-template>

<ng-template #alreadyResolvedTemplate>
  <h2>This leave request was already {{leaveRequest.leaveRequest.status}}</h2>
</ng-template>

<ng-template #spinner>
  <mat-spinner mode="indeterminate" class="center" diameter="60"></mat-spinner>
</ng-template>

<ng-template #approverTemplate let-approver="approver">
  <div>
    <h3 class="noMargin">{{approver?.firstName}} {{approver?.lastName}}
    <mat-icon *ngIf="approvalsCache[approver?.id]?.approved === true">done</mat-icon>
    <mat-icon *ngIf="approvalsCache[approver?.id]?.approved === false">close</mat-icon>
    </h3>
  </div>
</ng-template>

