.center {
  margin: auto;
}

.calendar {
  width: 50%;
}

.container {
  padding: 1em;
}

.messages {
  width: 50%;
  border: 1px solid black;
}

.message {
  border-bottom: 1px solid black;
}

.message-sender {
  margin-right: 10px;
}

.my-message {
  text-align: right;
}

.message-input {
  width: 90%;
}
