<app-navigation></app-navigation>
<app-error></app-error>

<div class="pageContent">
  <div class="settings">
    <h2 class="title">Settings</h2>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let setting" class="settingName"> {{setting.key}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let setting"> {{setting.description}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let setting"> {{setting.value}} </td>
      </ng-container>
      <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef> Max </th>
        <td mat-cell *matCellDef="let setting"> {{setting.max}} </td>
      </ng-container>
      <ng-container matColumnDef="min">
        <th mat-header-cell *matHeaderCellDef> Min </th>
        <td mat-cell *matCellDef="let setting"> {{setting.min}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let setting; columns: displayedColumns;" (click) = "editSettingDialog(setting)"></tr>
    </table>
  </div>
</div>
