<div>
  <div class="leaveTypeList">
    <h2 class="title">Leave types for {{user.firstName}} {{user.lastName}}</h2>
    <mat-form-field>
      <input matInput (keyup)="applyFilterTypes($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceTypes" matSort #TableTypesSort="matSort" class="tableStyle">
      <ng-container matColumnDef="leaveType.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let leaveType" class="leaveTypeName"> {{leaveType.leaveType.name}} </td>
      </ng-container>
      <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit </th>
        <td mat-cell *matCellDef="let leaveType"> {{leaveType.limit | async}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTypes"></tr>
      <tr mat-row *matRowDef="let leaveType; columns: displayedColumnsTypes;" (click) = "openEditLimit(leaveType)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15]" showFirstLastButtons #TableTypesPaginator="matPaginator"></mat-paginator>

    <div class="buttonGroup">
      <button mat-raised-button (click)="userUpdatedNotify()" type="button" class="backBtn">Ok</button>
    </div>
  </div>
