.addUser-form {
  width: fit-content;
  margin: 2em;
  display: block;
  padding: 2em 2em 1em;
  background-color: rgb(255,255,255);
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  border-radius: 2em;
}

.addUser-element {
  width: 100%;
}

.title{
  margin: 0 0 1.5em;
}

.buttonGroup{
  padding: 2em 0 1em;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
}

button {
  padding: 0.5em 0;
  width: 50%;
  background: rgb(52,73,94);
  color: white;
  font-weight: bold;
  border-radius: 2em;
}

button:hover{
  background: rgb(44,62,80);
}

.submitBtn{
  margin: 0 0.5em 0 0;
}

.backBtn{
  margin: 0 0 0 0.5em;
}

.logo {
  width: 100%;
}

.form-footer {
  text-align: center;
}

a {
  color: rgb(44,62,80);
}

  a:hover {
    font-weight: bold;
    text-decoration: none;
  }

h1, h2, h3, h4, h5, h6 {
  color: rgb(44,62,80);
}

.linesInputs{
  float: left;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
}

.firstInput{
  width: 50%;
  padding: 0 1em 0 0;
}

.secondInput{
  width: 50%;
  padding: 0;
}

.form-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 25em;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 25em;
}

/* Small Devices, Tablets, Medium Devices, Desktops, Large Devices, Wide Screens*/
@media only screen and (min-width : 768px) {
  .item1 {
    width: 30vw;
    min-width: 20em;
  }
  .item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 15em;
    width: fit-content;
  }
}
