.addUser-form {
  margin: 0 auto;
  display: block;
  width: fit-content;
  padding: 2em 2em 1em;
  background-color: rgb(255,255,255);
  box-shadow: 0.2em 0.2em 0.5em rgb(220,220,220);
  border-radius: 2em;
}

.addUser-element {
  width: 100%;
}

.title{
  margin: 0 0 1.5em;
}

button:hover {
  background: rgb(44,62,80);
}

button {
  width: 100%;
  background: rgb(52,73,94);
  color: white;
  font-weight: bold;
  border-radius: 2em;
  margin: 1em 0;
  padding: 0.5em 0;
}

.submitBtn {
  margin: 1.5em 0 0;
}

.backBtn {
  margin: 0;
}

.logo {
  width: 100%;
}

.form-footer {
  text-align: center;
}

a {
  color: rgb(44,62,80);
}

  a:hover {
    font-weight: bold;
    text-decoration: none;
  }

h1, h2, h3, h4, h5, h6 {
  color: rgb(44,62,80);
}
