<app-navigation></app-navigation>
<div class="login-form">
  <h2>Add user</h2>
  <form [formGroup]="form" (submit)="createNewUser($event)">
    <mat-form-field class="login-element">
      <input matInput
             placeholder="Firstname"
             id="firstname" formControlName="firstname">
      <mat-error *ngIf="form.hasError('required', ['firstname'])">
       Firstname is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Lastname"
             id="lastname" formControlName="lastname">
      <mat-error *ngIf="form.hasError('required', ['lastname'])">
        Lastname is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Email"
             id="email" formControlName="email">
      <mat-hint></mat-hint>
      <mat-error *ngIf="form.hasError('required', ['email'])">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.hasError('email', ['email'])">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Supervisor"
             id="supervisor">
      <mat-hint></mat-hint>
    </mat-form-field>


    <mat-checkbox id="admin" name="admin" class="example-margin">Admin privileges</mat-checkbox>

    <button disabled="{{buttonDisabled}}" mat-raised-button type="submit" id="submitBtn" class="submitBtn">Confirm</button>

  </form>
</div>
