@import 'theme.scss';

.full-width {
  width: 100%;
}

html {
  font-family: 'Avenir Next LT Pro';
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button:focus {
  outline:0;
}

.mat-menu-panel{
  position: relative;
  top: 1.8em;
  left: 0;
  max-width: fit-content !important;
  padding: 0.3em 0.6em !important;
  background-color: rgb(44,62,80);
  border-radius: 2em !important;
}

.mat-menu-content{
  padding: 0 !important;
  width: fit-content !important;
}

.mat-menu-item{
  background-color: rgb(52,73,94);
  color: rgb(255,255,255);
  border-radius: 2em;
  margin: 0.5em 0;
  font-weight: bold;
  text-align: center !important;
}

.mat-list-base {
  outline: none;
}

.mat-menu-item:hover:not([disabled]) {
  background: rgb(49, 67, 85);
}

app-change-password, app-user-list, app-add-user-form, app-user-profile, app-leave-types, app-add-leave-type, app-leave-type, app-settings{
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:column;
  background-color: rgb(245,245,245);
}

mat-dialog-container{
  border-radius: 2em!important;
  padding: 2em!important;
  color: rgb(44,62,80)!important;
  width: fit-content!important;
  height: fit-content!important;
}

.mat-dialog-title{
  margin: 0!important;
}

.mat-dialog-content{
  padding: 0 !important;
  margin: 0 0 0.8em!important;
}

mat-icon{
  color: rgb(44,62,80);
}

.mat-sort-header-arrow{
  color: rgb(255,255,255)!important;
}

.mat-checkbox-checked .mat-checkbox-background{
  background-color: rgb(44,62,80)!important;
}

th{
  padding: 1em 2em!important;
  text-align: center!important;
  align-content: center!important;
  font-weight: bold!important;
  font-size: 1em!important;
}

td{
  text-align: center!important;
  padding: 0.5em 2em!important;
}

tr{
  height: fit-content!important;
}

.leave {
  border-radius: 15px;
  margin-top: 5px;
  height: 25px !important;
}

.scheduler_default_corner > div {
  display: none;
}

[hidden] {
  display: none !important;
}