@import 'theme.scss';
@import 'mat-calendar.scss';
@import 'mat-stepper.scss';
@import 'calendarCustomTheme.scss';

.full-width {
  width: 100%;
}

*{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html{
  font-family: 'Nunito Sans', sans-serif!important;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button:focus {
  outline:0;
}

.mat-menu-panel{
  position: relative;
  top: 1.8em;
  left: 0;
  max-width: fit-content !important;
  padding: 0.3em 0.6em !important;
  background-color: rgb(44,62,80);
  border-radius: 2em !important;
}

.mat-menu-content{
  padding: 0 !important;
  min-width: fit-content !important;
}

.mat-menu-item{
  background-color: rgba(37, 55, 73, 1);
  color: rgb(255,255,255);
  border-radius: 2em;
  margin: 0.5em 0;
  font-weight: bold;
}

.mat-list-base {
  outline: none;
}

.mat-menu-item:hover:not([disabled]) {
  background: rgb(49, 67, 85);
}

app-change-password,
app-user-list,
app-add-user-form,
app-user-profile,
app-leave-types,
app-add-leave-type,
app-leave-type,
app-settings,
app-add-leave-request,
app-home,
app-dashboard,
app-approving {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245,245,245);
}

mat-dialog-container{
  border-radius: 2em !important;
  padding: 1em 2em 2em 2em !important;
  color: #2c3e50 !important;
  min-width: 33vw;
  width: fit-content !important;
  height: fit-content !important;
}

.mat-badge-content {
  font-family: 'Roboto', sans-serif;
}

.mat-dialog-title{
  margin: 0!important;
}

.mat-dialog-content{
  padding: 0 !important;
  margin: 0 0 0.8em!important;
}

mat-icon{
  color: rgb(44,62,80);
}

.mat-sort-header-arrow{
  color: rgb(255,255,255)!important;
}

.mat-checkbox-checked .mat-checkbox-background{
  background-color: rgb(44,62,80)!important;
}

.mat-raised-button{
  border-radius: 2em!important;
}

.label {
  color: rgb(44,62,80);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  margin-left: -5px;
  margin-top: 10px;
}

.noMargin{
  margin: 0;
}
