<app-navigation></app-navigation>
<div class="login-form">
  <h2>Add user</h2>
  <form>
    <mat-form-field class="login-element">
      <input matInput
             placeholder="Firstname"
             id="firstname">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Lastname"
             id="lastname">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Email"
             id="email">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="login-element">
      <input matInput
             placeholder="Supervisor"
             id="supervisor">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Admin priviliges</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" class="submitBtn">Confirm</button>

  </form>
</div>
